html, body {
    max-width: 100%;
    overflow-x: hidden;
}

thead tr, tbody tr {
    border-bottom: 2px solid;
}

tbody tr:hover {
    background-color: lightgray;
}

td a img:hover {
    border: 1px solid deepskyblue;
}

.scoreDisplay {
    cursor: pointer;
}

.otherScores {
    background-color: darkgray;
}

#showmore {
    position: absolute;
    width: 95%;
    text-align: center;
}

#message {
    text-align: center;
}