table {
    border-collapse: collapse;
}

tr, td, input {
    text-align: center;
}

input {
    border: none;
}

.filter {
    border: solid 2px deepskyblue;
}

#showmore {
    position: absolute;
    width: 95%;
    text-align: center;
}
